# -*- coding: utf-8 -*-
# vim: ft=jinja

{## Start with  defaults from defaults.sls ##}
{% import_yaml 'snapper/defaults.yaml' as default_settings %}

{##
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'Debian': {},
    'Suse': {},
    'Arch': {},
    'RedHat': {},
  }
  , grain="os_family"
  , merge=salt['pillar.get']('snapper:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.snapper.update(os_family_map) %}

{## Merge in snapper:lookup pillar ##}
{% set snapper = salt['pillar.get'](
        'snapper',
        default=default_settings.snapper,
        merge=True
    )
%}
